<h1 class="display-1 text-center">Editing Tradesmen Trade</h1>

<%= render 'form', tradesmen_trade: @tradesmen_trade %>

<%= link_to 'Show', @tradesmen_trade %> |
<%= link_to 'Back', tradesmen_trades_path %>
