<h1 class="display-1 text-center">Tradesmen Trades</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @tradesmen_trades.each do |tradesmen_trade| %>
      <tr>
        <td><%= link_to tradesmen_trade.name, tradesmen_trade_path(tradesmen_trade) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, TradesmenTrade %>
  <%= link_to 'New Tradesmen Trade', new_tradesmen_trade_path, class: "btn btn-primary" %>
<% end %>
