<p id="notice"><%= notice %></p>

<h1 class="display-1 text-center">Tradesmen Trades</h1>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tradesmen_trades.each do |tradesmen_trade| %>
      <tr onclick="location.href='<%= tradesmen_trade_path(tradesmen_trade) %>'">
        <td><%= tradesmen_trade.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tradesmen Trade', new_tradesmen_trade_path %>
