<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tradesmen_trade.name %>
</p>

<%= link_to 'Edit', edit_tradesmen_trade_path(@tradesmen_trade) %> |
<%= link_to 'Back', tradesmen_trades_path %>
