<ul class="nav nav-tabs">
  <li class="nav-item">
    <% if current_page?(controller: :jobs, action: :mine) or current_page?(controller: :jobs, action: :mine_active) %>
      <%= link_to 'Mine', mine_active_jobs_path, class: 'nav-link active' %>
    <% else %>
      <%= link_to 'Mine', mine_active_jobs_path, class: 'nav-link' %>
    <% end %>
  </li>

  <li class="nav-item">
    <% if current_page?(controller: :jobs, action: :index) %>
      <%= link_to 'All', jobs_path, class: 'nav-link active' %>
    <% else %>
      <%= link_to 'All', jobs_path, class: 'nav-link' %>
    <% end %>
  </li>
</ul>
