<h3 class="display-6 text-center">Applications</h3>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th>Tradesmen</th>
      <th>Date</th>
      <% if current_user.booker? %>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @job.job_tradesmen_applications.each do |job_tradesmen_application| %>
      <tr>
        <td onclick="location.href='<%= tradesmen_profile_path(job_tradesmen_application.tradesmen_profile) %>'" class="clickable">
          <%= job_tradesmen_application.tradesmen_profile.name %>
        </td>
        <td><%= job_tradesmen_application.date %></td>
        <% if current_user.booker? %>
          <td><%= button_to "Accept", job_job_tradesmen_application_path(@job, job_tradesmen_application, accepted: true), method: :patch, class: "btn btn-primary form-control" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
