<h3 class="display-6 text-center">Applications</h3>

<table class="table table-hover table-striped table-bordered table-responsive">
  <thead>
    <tr>
      <th scope="col" class="col-4">Tradesmen</th>
      <th scope="col" class="col-3">Date</th>
      <% if @job.quote_required %>
        <th scope="col" class="col-3">Quote</th>
      <% end %>
      <% if current_user.booker? %>
        <th scope="col" class="col-2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @job.job_tradesmen_applications.includes(:tradesmen_profile).each do |job_tradesmen_application| %>
      <tr>
        <td>
          <%= link_to job_tradesmen_application.tradesmen_profile.name, tradesmen_profile_path(job_tradesmen_application.tradesmen_profile) %>
        </td>
        <td><%= job_tradesmen_application.date.strftime("%d/%m/%Y") + (job_tradesmen_application.morning ? " morning " : "") + (job_tradesmen_application.afternoon ? " afternoon " : "") %></td>
        <% if @job.quote_required %>
          <td><%= job_tradesmen_application.quote %></td>
        <% end %>
        <% if current_user.booker? %>
          <td><%= button_to "Accept", job_job_tradesmen_application_path(@job, job_tradesmen_application, accepted: true), method: :patch, class: "btn btn-sm btn-primary form-control" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
