<h1>Editing Businesses Tradesmen Profile</h1>

<%= render 'form', businesses_tradesmen_profile: @businesses_tradesmen_profile %>

<%= link_to 'Show', @businesses_tradesmen_profile %> |
<%= link_to 'Back', businesses_tradesmen_profiles_path %>
