/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .hides {
    display: none;
  }
}

.card {
  position: relative;
}

.notification {
  position: relative;
}

.top-right {
  position: absolute;
  top: 0;
  right: 0;
}

.middle-right {
  position: absolute;
  top: 40%;
  right: 2%;
}

#navbarDropdownMenuLinkNotifications {
  display: inline-block;
  position: relative;
}

#navbarDropdownMenuLinkNotifications .badge {
  position: absolute;
  top: -5px;
  right: 10px;
  background-color: blue;
  border-radius: 50%;
}

#navbarDropdownMenuLinkNotificationsMenu {
  max-height: 600px;
  width: 500px;
  overflow-y: auto;
}

@media only screen and (max-width: 500px) {
  #navbarDropdownMenuLinkNotificationsMenu {
    width: 300px;
  }
}

#navbarDropdownMenuLinkNotificationsMenu li, #navbarDropdownMenuLinkNotificationsMenu li p {
  width: 100%;
  height: auto;
  word-wrap: break-word;
  white-space: normal;
}

a.btn {
  color: white;
}

a > svg {
  color: #666666;
}

.new-job-btn {
  transform: translateY(-50px);
}
