<h1 class="display-1 text-center">Check your email</h1>
<br>
<h2 class="display-6 text-start">An email has been sent to confirm your account, if you can't find it then please check your spam folder</h2>
